<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rua Native</title>
  <style>
    #RuaNative > div {
      height: 100%;
    }
  </style>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/fonts.css">
</head>

<body>
<div id="RuaNative" style='height: 100vh'></div>
</body>
</html>
